.movies-card-list {
  display: flex;
  flex-direction: column;
  padding: 50px 10px 0;
}

.movies-card-list__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
  padding: 40px 0 30px;
}

.movies-card-list__auxiliary-panel {
  padding: 50px 0 80px;
}

@media (min-width: 768px) {
  .movies-card-list {
    padding: 61px 30px 0;
  }

  .movies-card-list__items {
    grid-template-columns: 1fr 1fr;
    row-gap: 36px;
    column-gap: 30px;
    padding: 70px 0 30px;
  }

  .movies-card-list__auxiliary-panel {
    padding: 50px 0 80px;
  }
}

@media (min-width: 1280px) {
  .movies-card-list {
    padding: 48px 70px 0;
  }

  .movies-card-list__items {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 24px;
    padding: 70px 0 30px;
  }

  .movies-card-list__auxiliary-panel {
    padding: 50px 0 80px;
  }
}