.movies-card {
  display: flex;
  flex-direction: column;
}

.movies-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.movies-card__header-container {
  display: flex;
  flex-direction: column;
}

.movies-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  padding-bottom: 9px;
}

.movies-card__duration {
  margin: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #A0A0A0;
}

.movies-card__favorite-icon {
  width: 30px;
  height: 30px;
  background: url(../../images/save-icon-disabled.svg) 0 0 / contain no-repeat;
  transition: all 1s ease;
}

.movies-card__poster {
  width: 100%;
  transition: all 1s ease;
}

@media (min-width: 1280px) {
  .movies-card__favorite-icon:hover {
    cursor: pointer;
    background: url(../../images/save-icon-active.svg) 0 0 / contain no-repeat;
    transition: all 1s ease;
  }

  .movies-card__poster:hover {
    cursor: pointer;
    opacity: .6;
    transition: all 1s ease;
  }
}