.movies {
  display: flex;
  flex-direction: column;
  padding: 92px 14px 50px;
}

@media (min-width: 768px) {
  .movies {
    padding: 86px 30px 61px;
  }
}

@media (min-width: 1280px) {
  .movies {
    padding: 70px 70px 48px;
  }
}