.portfolio-item {
  padding: 20px 0 19px;
  border-bottom: 1px solid #E6E6E6;
}

.portfolio-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio-item__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #000;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
}

.portfolio-item__link-icon {
  display: inline-block;
  width: 18px;
  height: 28px;
  background: url('../../images/arrow-icon.svg') 50% / 70% no-repeat;
}

@media (min-width: 768px) {
  .portfolio-item {
    padding-bottom: 9px;
  }
  .portfolio-item__link {
    font-size: 28px;
    line-height: 50px;
  }
  .portfolio-item__link-icon {
    width: 27px;
    height: 60px;
  }
}

@media (min-width: 1280px) {
  .portfolio-item__link {
    font-size: 30px;
  }
  .portfolio-item__link:hover {
    transition: all 1s ease;
    -webkit-box-shadow: 8px 9px 21px -4px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: 8px 9px 21px -4px rgba(34, 60, 80, 0.24);
    box-shadow: 8px 9px 21px -4px rgba(34, 60, 80, 0.24);
  }
  .portfolio-item__link-icon {
    width: 29px;
  }
}