.auth-label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  padding: 20px 0 10px 0;
}

.auth-input {
  padding: 15px;
  border: none;
  outline: none;
  background: #F9F9F9;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  min-height: 15px;
}